<div class="noselect" [ngStyle]="{'color': carl.color, 'cursor': 'pointer'}" (click)="updateClick()">
  <p>
    {{carl.name}}
  </p>
  <p>
    {{carl.age}}
  </p>
  <p>
    {{carl.food}}
  </p>
  <p>
    {{carl.maxFood}}
  </p>
  <p>
    {{carl.clicks}}
  </p>
  <p>
    {{carl.uniqueClicks}}
  </p>
  <div class="progress" style="height: 20px; font-size: 1.4rem;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width': carl.life + '%', 'background-color': getColor()}" aria-valuemin="0" aria-valuemax="100">{{carl.life}}% Alive</div>
  </div>
</div>
