/* You can add global styles to this file, and also import other style files */
html, body, .container-fluid     {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #252525;
}

.row    {
    padding: 0;
    margin: 0;
}

.carls-home {
    height: 100%;
}

.noselect, .noselect p {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.welcome    {
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: white;
    position: fixed;
}

.welcome h1 {
    font-style: italic;
    opacity: 0;
}

.welcome-animate    {
    animation: welcome 3s linear forwards, exit 3s linear 5s forwards;
}

@keyframes welcome  {
    50% {
        opacity: 1;
    }
    to  {
        transform: scale(4, 4);
    }
}
